
@{
    ViewData["Title"] = "AddSubmission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="AddSubmission">

    <h2>Add Submission</h2>
    <select data-bind="value:year">
        <option>2017</option>
        <option>2016</option>
    </select>
    <br />
    <br />
    <select data-bind="disable : CircuitId() > 0, options: salonYears, value:SalonYear, optionsText: 'name', optionsCaption: 'Select Salon Year'"></select>
    <button data-bind="click:AddSalonYear" class="btn btn-info">Add Salon/Year</button>
    <select data-bind="disable : SalonId() > 0, options: Circuits, value:SelectedCircuit, optionsText: 'name', optionsCaption: 'Select Circuit'"></select>
    <br />
    <br />

    <div data-bind="visible : SalonYearId() > 0 || CircuitId() > 0">
        <input type="text" placeholder="Entry date (default to today)" />
        <input type="text" placeholder="Entry cost" />
        <br />
        <br />

        <h3>Add sections</h3>
        <input type="text" placeholder="Section type dropdown" />
        <br />
        <br />
        <h4>Add entries</h4>
        <input type="text" placeholder="Image autocomplete" />
        <br />
        If new add thumbnail and notes as well:
        <input type="file" />
        <input type="text" placeholder="Notes" />
    </div>
    <script src="~/js/Submission/AddSubmission.js"></script>
</div>


@Html.Partial("AddSalonYear")