<div id="AddSalonYearPopup" class="modal">
    <div class="model-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Salon</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="salonName">Salon (autocomplete)</label>
                        <input type="text" id="salonName" class="form-control" placeholder="Salon Name" data-bind="event: { keyup: salonNameTyping }, autocomplete: { data: salons, query : salonNameQuery,  maxItems: 6, format: function(salonItem){return salonItem.salonName; }, onSelect : salonSelect }" />
                    </div>
                    <div data-bind="visible : salonId() == null" style="display:inline">
                        <div class="form-group">
                            <label for="salonWebsite">Salon Website</label>
                            <input type="text" id="salonWebsite" class="form-control" placeholder="http://www.websiteurl.com" data-bind="value: salonWebsite" />
                        </div>
                        <div class="form-group">
                            <label for="countryName">Country (autocomplete)</label>
                            <input type="text" id="countryName" class="form-control" placeholder="Country" data-bind="visible : salonId() == null, event: { keyup: countryNameTyping }, autocomplete: { data: countries, query : countryNameQuery, maxItems: 20, format: function(countryItem){ return countryItem.name; }, onSelect : countrySelect }" />
                        </div>
                        <button class="btn btn-success" data-bind="click : createSalon, visible : ((countryId() != null || countryNameQuery() != '') && salonWebsite() != null)">Create salon</button>
                    </div>
                </form>
                <div data-bind="visible : salonId() != null">
                    <form>
                        <div class="form-group">
                            <label for="circuitName">Circuit (autocomplete)</label>
                            <input type="text" id="circuitName" class="form-control" placeholder="Circuit autocomplete (optional)" />
                        </div>
                        <div class="form-group">
                            <label for="salonYearName">Salon year (autocomplete)</label>
                            <input type="text" id="salonYearName" class="form-control" placeholder="Salon Year Name" data-bind="event: { keyup: salonYearNameTyping }, autocomplete: { data: salonYears, query : salonYearNameQuery,  maxItems: 6, format: function(salonYearItem){ return salonYearItem.name; }, onSelect : salonYearSelect }" />
                        </div>
                    </form>
                    <form>
                        <div class="form-group">
                            <label for="closingDate">Closing date</label>
                            <input id="closingDate" data-bind="datePicker : closingDate, enable : salonYearId() == null" type="text" class="form-control" placeholder="Closing Date" />
                        </div>
                        <div class="form-group">
                            <label for="notificationDate">Notification date</label>
                            <input id="notificationDate" data-bind="datePicker : notificationDate, enable : salonYearId() == null" type="text" class="form-control" placeholder="Notification Date" />
                        </div>
                        <div class="form-group">
                            <label for="cataloguePostedDate">Catalogue Posted date</label>
                            <input id="cataloguePostedDate" data-bind="datePicker : cataloguesPostedDate, enable : salonYearId() == null" type="text" class="form-control" placeholder="Catalogue Posted Date" />
                        </div>
                        <div class="form-group">
                            <label for="judgeDate">Judge date</label>
                            <input id="judgeDate" data-bind="datePicker : judgeDate, enable : salonYearId() == null" type="text" class="form-control" placeholder="Judge Date" />
                        </div>
                        <button class="btn btn-success" data-bind="visible: (salonYearId() == null && salonYearNameQuery() != ''),click : createSalonYear">Create salon year</button>
                    </form>
                    <div data-bind="visible : salonYearId() != null">
                        <table class="table">
                            <tr><th>Organisation</th><th>Salon Number</th><th></th></tr>
                            <!-- ko foreach: salonYearAccreditations -->
                            <tr><td data-bind="text:photoOrganisationName"></td><td data-bind="text:salonNumber"></td> <td><a data-bind="click:self.removeAccreditation,visible:false" class="btn btn-danger">Remove</a></td></tr>
                            <!-- /ko -->

                            <tr data-bind="visible:availableAccreditationOrgs().length > 0">
                                <td>
                                    <select class="form-control">
                                        <option>Select Organisation</option>
                                        <!-- ko foreach: availableAccreditationOrgs -->
                                        <option data-bind="text:name"></option>
                                        <!-- /ko -->
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Salon Number" />
                                </td>
                                <td>Add new (only exists if there are available orgs to add)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Submission/AddSalonYear.js"></script>
