@model List<Salon.Models.ImageViewModel>

@{
    ViewData["Title"] = "Awarded Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accepted Images</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    Name
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
