@model List<Salon.Models.ImageViewModel>

@{
    ViewData["Title"] = "Awarded Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accepted Images (@Model.Count)</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    Name
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td><a asp-controller="Image" asp-action="SingleImage" asp-route-pImageId="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
        </tr>
}
    </tbody>
</table>
