@model Salon.Models.IndexViewModel

@{
    Layout = "_Layout";
}


<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Countries) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
